.select-contact-text {
  margin-top : 180px;
}

.select-contact-text h1 {
  font-size : 5em;
}

.selected-contact {
  margin-top : 20px;
}

.btn:focus {
  outline : none !important;
}

.loader {
  position    : relative;
  top         : 50%;
  left        : 50%;
  margin-left : -28px;
  color       : #00bc8c;
}

.loader-wrapper {
  height : 100%;
  width  : 100%;
}

.avatar {
  max-width : 60px;
}

.pos-r { position : relative }

.btn-add:hover {
  cursor: pointer;
}

.btn-add {
  color: #0ce3ac;
}

.btn-rm {
  position : absolute;
  right    : 10px;
  top      : 5px;
  outline  : none;
}
