.contact-preview-header {
  margin-top: 0;
}
.contact-preview-listgroup {
  border: 2px solid white;
  border-radius: 3px;
}

.contact-preview-profile h3 {
  font-size: 22.5px;
}
.contact-preview-profile h4 {
  margin-top: 0;
}

.contact-preview-note {
  padding: 7.5px;
  border: 2px solid lightgray;
  border-style: dotted;
  word-wrap: break-word;
}

.contact-preview-profile button a {
 color: white;
 text-decoration: none;
}
