
.table-row-bold > * {
  font-weight: bold;
}
table {
  table-layout: fixed;
}
tr {
  cursor: pointer;
}
td {
  overflow: hidden;
  white-space: nowrap;
}
tbody > tr > td.td-body {
  padding-left: 20px;
}

.td-checkbox {
  z-index: 1000;
}

.col-checkbox {
  width: 25px;
}

.col-from {
  width: 200px;
}
.col-body {
  width: 60%;
}

.col-date {
  width: 10%;
}

.btn-compose {
  width: 100%;
  margin-bottom: 10px;
}

.well > h2 {
  margin-top: 0;
}

.well > p {
  margin-top: 12px;
}

.media {
  padding: 12px 0;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.popover {
  max-width: none;
}

.popover-span {
  display: inline-block;
  width: 60px;
  text-align: right;
  margin-right: 10px;
}

.popover-trigger {
  margin-left: 5px;
}

.media-object {
  width: 32px;
  height: 32px;
}

#compose {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

#compose-heading {
  margin-top: 0;
  font-weight: 800;
}

#compose-heading > span {
  float: right;
  cursor: pointer;
}
